doctype html
html
  head
    title User Registration Form
    //- script(src="https://code.jquery.com/jquery-3.6.4.min.js") // Include jQuery
  body
    h1 User Registration Form
    h4 Welcome to this system! Please register here

    form(action="/register", method="post")
        label(for="firstName") First Name:
        input(type="text", id="firstName", name="firstName", required) 

        label(for="lastName") Last Name:
        input(type="text", id="lastName", name="lastName", required)

        label(for="dob") Date of Birth:
        input(type="date", id="dob", name="dob", required)

        label(for="userType") User Type:
        select(id="userType", name="userType", required)
            option(value="member") Member
            option(value="trainer") Trainer
            option(value="admin") Admin

        #staffQuestions
            label(for="staffID") Staff ID:
            input(type="text", id="staffID", name="staffID", required)

        #memberQuestions
            label(for="height") Height (cm):
            input(type="number", id="height", name="height", required)

            label(for="weight") Weight (kg):
            input(type="number", id="weight", name="weight", required)

            label(for="RHR") Resting Heart Rate (RHR):
            input(type="number", id="RHR", name="RHR", required)

            label(for="MHR") Max Heart Rate (MHR):
            input(type="number", id="MHR", name="MHR", required)

            label(for="desiredWeight") Desired Weight (kg):
            input(type="number", id="desiredWeight", name="desiredWeight", required)

        input(id="submit", type="submit", value="Submit")

    script.
        const userType   = document.getElementById('userType');
        userType.addEventListener("change", refresh );
        const staffCont  = document.getElementById('staffQuestions');
        const memberCont = document.getElementById('memberQuestions'); 
        const parent = staffCont.parentNode;
        const submit = document.getElementById('submit');
        refresh();  


        function refresh(){
            if(userType.value === 'member'){
                parent.removeChild(staffCont);

                if(!document.getElementById('memberQuestions'))
                    parent.appendChild(memberCont);
            }
            else{
                parent.removeChild(memberCont);

                if(!document.getElementById('staffQuestions'))
                    parent.appendChild(staffCont);
            }
            parent.removeChild(submit);
            parent.appendChild(submit);
        }
